@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(200px, 25vh));
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, 1fr);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.content > img {
  object-fit: cover;
}

.content-header {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 15% 0 15%;
  text-align: center;
}

.content-footer {
  font-size: 12px;
  font-weight: 500;
  margin: 0 15% 20px 15%;
  text-align: center;
}

.content:first-child {
  background-color: #bfbda7;
}

.content:nth-child(2) {
  background-color: #993333;
}

.content:nth-child(4) {
  background-color: #3aaafa;
}

.content:nth-child(5) {
  background-color: #fe4714;
}

.content:nth-child(8) {
  background-color: #41907a;
}

.content:nth-child(9) {
  background-color: #847e96;
}

.content:nth-child(11) {
  background-color: #d0ff71;
}

.content:last-child {
  background-color: #e3c4e5;
}
